<style> 
    .smalltext{
        font-size: 16px; 
        color: #636060; 
        vertical-align: middle;
    }
    .emojis{
        margin-left: 10px;
        margin-top: 10px;
        font-size: 16px;
    }
</style>
<h2 class="mt-4">Welcome to the Quiz Application! <span class="smalltext"> Made with <i class="fa fa-heart-o" style="font-size: 14px; color:red"></i> by Team Rails <i class="fa fa-diamond" style="font-size:15px;color:red"></i></span> </h2>
<h5 class="mt-4">Struggling with exam preparation? Feeling like you're not performing at your best? Fret not, because Team Rails is your solution to success!</h5>
<h5 class="mt-4">Team Rails will provide you with:</h5>
<h6 class="emojis"><span>&#x1F680;</span> Proven Boosts</h6>
<h6 class="emojis">&#x1F9E0; Bigger Brains</h6>
<h6 class="emojis">&#127942; Garunteed Success</h6>
<h5 class="mt-5">Join the revolution. Be a better you. Create a free account and get started today!</h5>